@using gms.common.Enums
@using gms.common.ViewModels.Home
@model DashboardVM
@{
    ViewData["Title"] = localizer["dashboard"];
    var test = Model;
}

<!--begin::Content wrapper-->
<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar pt-6 pb-2">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container"
             class="app-container container-fluid d-flex align-items-stretch">
            <!--begin::Toolbar wrapper-->
            <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
                    <!--begin::Title-->
                    <h1 class="page-heading d-flex flex-column justify-content-center text-dark fw-bold fs-3 m-0">
                        @localizer["hi"] @Model.GymUserDTO.FirstName
                    </h1>
                    <!--end::Title-->
                    <!--begin::Breadcrumb-->
                    <ol class="breadcrumb text-muted fs-6 fw-semibold text-gray-600">
                        <li class="breadcrumb-item text-gray-600"><a class="text-gray-600 text-hover-primary" href="#">@Model.GymBranchDTO.Gym.Name</a></li>
                        <li class="breadcrumb-item text-gray-600">@Model.GymBranchDTO.BranchName</li>
                        <li class="breadcrumb-item text-gray-600">@localizer["dashboard"]</li>
                    </ol>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page title-->
            </div>
            <!--end::Toolbar wrapper-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-fluid">
            <!--begin::Row-->
            <div class="row g-5 g-xl-8">
                <div class="col-xl-3">
                    <!--begin::Statistics Widget 5-->
                    <div class="card bg-light-primary hoverable card-xl-stretch mb-xl-8">
                        <!--begin::Body-->
                        <div class="card-body">
                            <i class="ki-solid ki-profile-user fs-2x text-primary ms-n1"></i>
                            <div class="text-gray-900 fw-bold fs-2 mb-2 mt-5">@Model.GymBranchDTO.GymUsers.Where(u => u.GymUserTypeId == GymUserTypeEnum.Staff && u.StatusId == StatusEnum.Active).Count()</div>
                            <div class="fw-semibold text-gray-700">@localizer["active_members"]</div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics Widget 5-->
                </div>
                <div class="col-xl-3">
                    <!--begin::Statistics Widget 5-->
                    <div class="card bg-light-warning card-xl-stretch mb-xl-8">
                        <!--begin::Body-->
                        <div class="card-body">
                            <i class="ki-solid ki-profile-user fs-2x text-warning ms-n1"></i>
                            <div class="text-gray-900 fw-bold fs-2 mb-2 mt-5">@Model.GymBranchDTO.GymUsers.Where(u => u.GymUserTypeId == GymUserTypeEnum.Member && u.StatusId == StatusEnum.Active).Count()</div>
                            <div class="fw-semibold text-gray-700">@localizer["active_staffs"]</div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics Widget 5-->
                </div>
                <div class="col-xl-3">
                    <!--begin::Statistics Widget 5-->
                    <div class="card bg-light-info card-xl-stretch mb-xl-8">
                        <!--begin::Body-->
                        <div class="card-body">
                            <i class="fa-solid fa-people-group fs-2x text-info ms-n1"></i>
                            <div class="text-gray-900 fw-bold fs-2 mb-2 mt-5">@Model.GymBranchDTO.GymGroups.Count()</div>
                            <div class="fw-semibold text-gray-700">@localizer["total_groups"]</div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics Widget 5-->
                </div>
                <div class="col-xl-3">
                    <!--begin::Statistics Widget 5-->
                    <div class="card bg-light-success card-xl-stretch mb-5 mb-xl-8">
                        <!--begin::Body-->
                        <div class="card-body">
                            <i class="ki-solid ki-wallet fs-2x text-success ms-n1"></i>
                            <div class="text-gray-900 fw-bold fs-2 mb-2 mt-5">500 @Model.GymBranchDTO.Country.CurrencySymbol</div>
                            <div class="fw-semibold text-gray-700">@localizer["daily_income"]</div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics Widget 5-->
                </div>
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row g-5 g-xl-8">
                <div class="col-xl-9">
                    <!--begin::Card-->
                    <div class="card">
                        <!--begin::Header-->
                        <div class="card-header border-0">
                            <h3 class="card-title fw-bold text-dark">@localizer["classes_schedule"]</h3>
                        </div>
                        <!--end::Header-->
                        <!--begin::Card body-->
                        <div class="card-body">
                            <!--begin::Calendar-->
                            <div id="kt_calendar_app"></div>
                            <!--end::Calendar-->
                            <div class="d-none" id="class_schedule">
                                <partial name="../Class/_ClassesSchedule" model="@Model.classScheduleDaysList" />
                            </div>
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Card-->
                </div>
                <div class="col-xl-3">
                    <!--begin::List Widget 2-->
                    <div class="card mb-5 mb-xl-8">
                        <!--begin::Header-->
                        <div class="card-header border-0">
                            <h3 class="card-title fw-bold text-dark">@localizer["groups"]</h3>
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-2 h-225px hover-scroll-y">
                            @foreach (var g in Model.GymBranchDTO.GymGroups)
                            {
                                <!--begin::Item-->
                                <div class="d-flex align-items-center mb-7">
                                    <!--begin::Avatar-->
                                    <div class="symbol symbol-circle symbol-40px me-5">
                                        @if (g.Image is not null)
                                        {
                                            <img src="@g.Image" />
                                        }else{
                                            <span class="symbol-label"></span>
                                        }
                                    </div>
                                    <!--end::Avatar-->
                                    <!--begin::Text-->
                                    <div class="flex-grow-1">
                                        <a href="#" class="text-dark fw-bold text-hover-primary fs-6">@g.Name</a>
                                        <span class="text-muted text-gray-700 d-block fw-semibold">@localizer["member_count"] @($": {g.GymMemberGroups.Where(gmg => gmg.GymMemberUserId != 0).Count()}")</span>
                                    </div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Item-->
                            }
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::List Widget 2-->
                    <!--begin::List Widget 3-->
                    <div class="card">
                        <!--begin::Header-->
                        <div class="card-header border-0">
                            <h3 class="card-title fw-bold text-dark">@localizer["memberships"]</h3>
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-2 h-225px hover-scroll-y">
                            @foreach (var g in Model.GymBranchDTO.GymMembershipPlans)
                            {
                                <!--begin::Item-->
                                <div class="d-flex align-items-center mb-7">
                                    <!--begin::Text-->
                                    <div class="flex-grow-1">
                                        <a href="#" class="text-dark fw-bold text-hover-primary fs-6">@g.MembershipName</a>
                                        <span class="text-muted d-block fw-bold"></span>
                                    </div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Item-->
                            }
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::List Widget 3-->
                </div>
            </div>
            <!--end::Row-->
        </div>
        <!--end::Content container-->
    </div>
    <!--end::Content-->
</div>
<!--end::Content wrapper-->

<!--begin::Modal-->
<div class="modal fade" id="kt_modal_view_event" tabindex="-1" data-bs-focus="false" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header border-0 justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-color-gray-500 btn-active-icon-primary" data-bs-toggle="tooltip" title="Hide Event" data-bs-dismiss="modal">
                    <i class="ki-outline ki-cross fs-2x"></i>
                </div>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body pt-0 pb-20 px-lg-17">
                <!--begin::Row-->
                <div class="d-flex">
                    <!--begin::Icon-->
                    <i class="ki-outline ki-calendar-8 fs-1 text-muted me-5"></i>
                    <!--end::Icon-->
                    <div class="mb-9">
                        <!--begin::Event name-->
                        <div class="d-flex align-items-center mb-2">
                            <span class="fs-3 fw-bold me-3" data-kt-calendar="event_name"></span>
                            <span class="badge badge-light-success" data-kt-calendar="all_day"></span>
                        </div>
                        <!--end::Event name-->
                        <!--begin::Event description-->
                        <div class="fs-6" data-kt-calendar="event_description"></div>
                        <!--end::Event description-->
                    </div>
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="d-flex align-items-center mb-2">
                    <!--begin::Bullet-->
                    <span class="bullet bullet-dot h-10px w-10px bg-success ms-2 me-7"></span>
                    <!--end::Bullet-->
                    <!--begin::Event start date/time-->
                    <div class="fs-6">
                        <span class="fw-bold">Starts</span>
                        <span data-kt-calendar="event_start_date"></span>
                    </div>
                    <!--end::Event start date/time-->
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="d-flex align-items-center mb-9">
                    <!--begin::Bullet-->
                    <span class="bullet bullet-dot h-10px w-10px bg-danger ms-2 me-7"></span>
                    <!--end::Bullet-->
                    <!--begin::Event end date/time-->
                    <div class="fs-6">
                        <span class="fw-bold">Ends</span>
                        <span data-kt-calendar="event_end_date"></span>
                    </div>
                    <!--end::Event end date/time-->
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="d-flex align-items-center">
                    <!--begin::Icon-->
                    <i class="ki-outline ki-geolocation fs-1 text-muted me-5"></i>
                    <!--end::Icon-->
                    <!--begin::Event location-->
                    <div class="fs-6" data-kt-calendar="event_location"></div>
                    <!--end::Event location-->
                </div>
                <!--end::Row-->
            </div>
            <!--end::Modal body-->
        </div>
    </div>
</div>
<!--end::Modal-->

@section Scripts {
    <script type="module" src="~/assets/js/customJs/dashboard.js" asp-append-version="true"></script>
}
