
@model List<ActivityCategoryDTO>
@{
    ViewData["Title"] = "Activity Category";
}
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">@ViewData["Title"]</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active">Activity Categories</li>
            </ol>
            <a class="btn btn-info d-none d-lg-block m-l-15" asp-area="" asp-controller="ActivityCategory" asp-action="Create">
                <i class="fa fa-plus-circle"></i> Create New
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewData["Title"]</h4>
                <div class="form-row">
                    <div class="col">
                        <form asp-controller="ActivityCategory" asp-action="InsertBulk" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Excle</label>
                                    <input name="File" type="file" accept="xlsx, .xls, .csv" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="">&nbsp;</label>
                                    <button type="submit" class="btn btn-primary form-control">Save</button>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="w-100" for="">&nbsp;</label>
                                    <a asp-controller="ActivityCategory" asp-action="DownloadSample" class="btn btn-primary form-control d-block">Download</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="table-responsive m-t-40">
                    <table id="example23"
                           class="display nowrap table table-hover table-striped table-bordered"
                           cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Branch</th>
                                <th>Activities Count</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.Count > 0)
                                {
                                    @foreach (ActivityCategoryDTO item in Model)
                                    {
                                        <tr>
                                            <td>@item.ActivityCategoryId</td>
                                            <td>@item.Name</td>
                                            <td>@item.BranchId</td>
                                            <td>@item.Activities.Count()</td>
                                            <td>
                                                <a id="btnEdit" style="padding:10px" asp-area="" asp-controller="ActivityCategory" asp-action="Edit" asp-route-Id="@item.ActivityCategoryId" title="Edit"><i class="fas fa-edit text-primary fa-1x"></i> Edit</a>
                                                <a id="btnDelete" style="padding:10px" asp-area="" asp-controller="ActivityCategory" asp-action="Delete" asp-route-Id="@item.ActivityCategoryId" title="Delete"><i class="fas fa-trash text-primary fa-1x"> Delete</i></a>
                                            </td>
                                        </tr>
                                    }

                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
