@model List<GymRoleDTO>;
@{
	ViewData["Title"] = localizer["roles"];
	bool IsRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}

@* <Partial name="_AddRoleForm" model="new CreateGymRoleDTO()" />*@ 

<!--begin::Content wrapper-->
<div class="d-flex flex-column flex-column-fluid">
	<!--begin::Toolbar-->
	<div id="kt_app_toolbar" class="app-toolbar" style="padding-top: 10px;">
		<!--begin::Toolbar container-->
		<div id="kt_app_toolbar_container"
			 class="app-container container-fluid d-flex align-items-stretch">
			<!--begin::Toolbar wrapper-->
			<div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100 px-5">
				<!--begin::Page title-->
				<div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
					<!--begin::Title-->
					<h1 class="page-heading d-flex flex-column justify-content-center text-dark fw-bold fs-3 m-0">
						@localizer["roles"]
					</h1>
					<!--end::Title-->
					<!--begin::Breadcrumb-->
					<ol class="breadcrumb text-muted fs-6 fw-semibold text-gray-600">
						<li class="breadcrumb-item text-gray-600"><a class="text-gray-600 text-hover-primary" href="#">@localizer["home"]</a></li>
						<li class="breadcrumb-item text-gray-600">@localizer["manage_users"]</li>
						<li class="breadcrumb-item text-gray-600">@localizer["settings"]</li>
					</ol>
					<!--end::Breadcrumb-->
				</div>
				<!--end::Page title-->
			</div>
			<!--end::Toolbar wrapper-->
		</div>
		<!--end::Toolbar container-->
	</div>
	<!--end::Toolbar-->
	<!--begin::Content-->
	<div id="kt_app_content" class="app-content flex-column-fluid">
		<!--begin::Content container-->
		<div id="kt_app_content_container" class="app-container container-fluid">
			<!--begin::Row-->
			<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-5 g-xl-9">
				@foreach (GymRoleDTO item in Model)
				{
					@* <tr>
						<td class="text-center">
							@item.RoleName
						</td>
						<td class="text-center">
							<div class="d-flex justify-content-center flex-shrink-0">
								<a asp-action="GymRolePermissionsByRoleId" asp-route-roleId="@item.RoleId" class="btn btn-icon btn-bg-light btn-light-primary btn-sm me-2" data-bs-toggle="tooltip" title="@localizer["edit"]" data-bs-custom-class="tooltip-inverse">
									<i class="ki-solid ki-pencil fs-2"></i>
								</a>
							</div>
						</td>
					</tr> *@
					<!--begin::Col-->
					<div class="col-md-4">
						<!--begin::Card-->
						<div class="card card-flush h-md-100">
							<!--begin::Card header-->
							<div class="card-header">
								<!--begin::Card title-->
								<div class="card-title">
									<h2>@item.RoleName</h2>
								</div>
								<!--end::Card title-->
							</div>
							<!--end::Card header-->
							<!--begin::Card body-->
							<div class="card-body pt-1">
								<!--begin::Users-->
								<div class="fw-bold text-gray-600 mb-5">@localizer["total_staffs_with_this_role"]: 5</div>
								<!--end::Users-->
								@* <!--begin::Permissions-->
								<div class="d-flex flex-column text-gray-600">
									<div class="d-flex align-items-center py-2">
										<span class="bullet bg-primary me-3"></span>All Admin Controls
									</div>
									<div class="d-flex align-items-center py-2">
										<span class="bullet bg-primary me-3"></span>View and Edit Financial Summaries
									</div>
									<div class="d-flex align-items-center py-2">
										<span class="bullet bg-primary me-3"></span>Enabled Bulk Reports
									</div>
									<div class="d-flex align-items-center py-2">
										<span class="bullet bg-primary me-3"></span>View and Edit Payouts
									</div>
									<div class="d-flex align-items-center py-2">
										<span class="bullet bg-primary me-3"></span>View and Edit Disputes
									</div>
									<div class='d-flex align-items-center py-2'>
										<span class='bullet bg-primary me-3'></span>
										<em>and 7 more...</em>
									</div>
								</div>
								<!--end::Permissions--> *@
							</div>
							<!--end::Card body-->
							<!--begin::Card footer-->
							<div class="card-footer d-flex justify-content-end pt-0">
								@if (User.HasClaim(c => c.Type == "Permission" && c.Value == RolesPermissions.Delete))
								{
									<button type="button" class="btn btn-bg-light btn-light-danger my-1 me-2 delete-role-btn" data-id="@item.RoleId">@localizer["delete"]</button>
								}
								@if (User.HasClaim(c => c.Type == "Permission" && c.Value == RolesPermissions.Edit))
								{
									<button type="button" class="btn btn-bg-light btn-light-primary my-1 edit-role-btn" data-id="@item.RoleId">@localizer["edit"]</button>
								}
							</div>
							<!--end::Card footer-->
						</div>
						<!--end::Card-->
					</div>
					<!--end::Col-->
				}
				<!--begin::Add new card-->
				<div class="ol-md-4">
					<!--begin::Card-->
					<div class="card h-md-100">
						<!--begin::Card body-->
						<div class="card-body d-flex flex-center">
							<!--begin::Button-->
							<button type="button" class="btn btn-clear d-flex flex-column flex-center" id="add_new_role">
								<!--begin::Illustration-->
								<img src="~/assets/media/illustrations/sketchy-1/4.png" alt="" class="mw-100 mh-150px mb-7" />
								<!--end::Illustration-->
								<!--begin::Label-->
								<div class="fw-bold fs-3 text-gray-600 text-hover-primary">@localizer["add_new_role"]</div>
								<!--end::Label-->
							</button>
							<!--begin::Button-->
						</div>
						<!--begin::Card body-->
					</div>
					<!--begin::Card-->
				</div>
				<!--begin::Add new card-->
			</div>
			<!--end::Row-->
		</div>
	</div>
</div>

@section Scripts {
	<script type="module" src="~/assets/js/customJs/User/Roles.js" asp-append-version="true"></script>
}