@using gms.common.ViewModels.Membership
@model MembershipsListVM
@{
    ViewData["Title"] = localizer["memberships_list"];
    bool IsRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}

<!--begin::Content wrapper-->
<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar" style="padding-top: 10px;">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
            <!--begin::Toolbar wrapper-->
            <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100 px-5">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
                    <!--begin::Title-->
                    <h1 class="page-heading d-flex flex-column justify-content-center text-dark fw-bold fs-3 m-0">
                        @localizer["memberships_list"]
                    </h1>
                    <!--end::Title-->
                    <!--begin::Breadcrumb-->
                    <ol class="breadcrumb text-muted fs-6 fw-semibold text-gray-600">
                        <li class="breadcrumb-item text-gray-600"><a class="text-gray-600 text-hover-primary" href="#">@localizer["home"]</a></li>
                        <li class="breadcrumb-item text-gray-600">@localizer["memberships"]</li>
                    </ol>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page title-->
            </div>
            <!--end::Toolbar wrapper-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-fluid">
            <!--begin::Membership List-->
            <div class="card card-flush">
                <!--begin::Card header-->
                <div class="card-header align-items-center gap-2 gap-md-5">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <!--begin::Search-->
                        <div class="d-flex align-items-center position-relative my-1">
                            <i class="ki-outline ki-magnifier fs-3 position-absolute ms-4"></i>
                            <input type="text" memberships-list-filter="search" class="form-control w-250px ps-12" placeholder="@localizer["search_by_membership_name"]" />
                        </div>
                        <!--end::Search-->
                    </div>
                    <!--end::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                        <!--begin::Filter-->
                        <div>
                            <button type="button" class="btn btn-icon btn-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-@(IsRTL ? "start" : "end")" data-bs-dismiss="click" data-bs-toggle="tooltip" title="@localizer["filter"]" data-bs-custom-class="tooltip-inverse">
                                <i class="ki-solid ki-filter fs-2"></i>
                            </button>
                            <!--begin::Filter Menu-->
                            <div class="menu menu-sub menu-sub-dropdown w-300px w-md-325px" data-kt-menu="true">
                                <!--begin::Header-->
                                <div class="px-7 py-5">
                                    <div class="fs-5 text-dark fw-bold">@localizer["filter_options"]</div>
                                </div>
                                <!--end::Header-->
                                <!--begin::Separator-->
                                <div class="separator border-gray-200"></div>
                                <!--end::Separator-->
                                <!--begin::Content-->
                                <div class="px-7 py-5" memberships-list-filter="form">
                                    <!--begin::Filter Creation DateRange-->
                                    <div class="mb-5">
                                        <label class="form-label fs-6 fw-semibold ms-2">@localizer["creation_date"]:</label>
                                        <div class="input-group">
                                            <input class="form-control rounded" placeholder="@localizer["pick_date_range"]" memberships-list-creation-date-range-filter="filter" />
                                        </div>
                                    </div>
                                    <!--end::Filter Creation DateRange-->
                                    <!--begin::Filter Membership Status-->
                                    <div class="mb-5">
                                        <label class="form-label fs-6 fw-semibold ms-2">@localizer["membership_status"]:</label>
                                        <select class="form-select" data-control="select2" data-hide-search="true" data-placeholder="@localizer["select_an_option"]" memberships-list-filter="status">
                                            <option></option>
                                            <option value="@localizer["active"].Value">@localizer["active"]</option>
                                            <option value="@localizer["inactive"].Value">@localizer["inactive"]</option>
                                        </select>
                                    </div>
                                    <!--end::Filter Membership Status-->
                                    <!--begin::Actions-->
                                    <div class="d-flex justify-content-end">
                                        <button type="reset" class="btn btn-light btn-active-light-primary fw-semibold me-2 px-6" data-kt-menu-dismiss="true" memberships-list-table-reset="reset">@localizer["reset"]</button>
                                        <button type="submit" class="btn btn-primary fw-semibold px-6" data-kt-menu-dismiss="true" memberships-list-table-filter="filter">@localizer["apply"]</button>
                                    </div>
                                    <!--end::Actions-->
                                </div>
                                <!--end::Content-->
                            </div>
                            <!--end::Filter Menu-->
                        </div>
                        <!--end::Filter-->
                        @if (User.HasClaim(c => c.Type == "Permission" && c.Value == MembershipsPermissions.Create))
                        {
                            <!--begin::Add Membership-->
                            <a href="@Url.Action("AddNewMembership", "Membership")" class="btn btn-primary d-flex align-items-center">
                                <i class="ki-outline ki-plus fs-2"></i>@localizer["add_new_membership"]
                            </a>
                            <!--end::Add Membership-->
                        }
                    </div>
                    <!--end::Card toolbar-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6" id="membership-list">
                        <thead>
                            <tr class="text-start text-gray-800 fw-bold fs-7 gs-0">
                                <th class="text-start min-w-150px">@localizer["membership_name"]</th>
                                <th class="text-start min-w-100px">@localizer["duration"]</th>
                                <th class="text-start min-w-100px">@localizer["price"]</th>
                                <th class="text-start min-w-100px">@localizer["signup_fee"]</th>
                                <th class="text-center min-w-100px">@localizer["status"]</th>
                                <th class="text-center min-w-100px">@localizer["creation_date"]</th>
                                <th class="text-center min-w-100px">@localizer["actions"]</th>
                            </tr>
                        </thead>    
                        <tbody class="fw-semibold text-gray-700">
                            @foreach (var mp in Model.MembershipsList)
                            {
                                <tr>
                                    <td class="text-start">
                                        <!--begin::Title-->
                                        <a href="#" class="text-gray-800 text-hover-primary fs-5 fw-bold">@mp.MembershipName</a>
                                        <!--end::Title-->
                                    </td>
                                    <td class="text-start">
                                        <span class="fw-bold">@mp.MembershipDuration</span>
                                        <span class="fw-bold">@localizer[mp.MembershipDurationTypeId.ToString().ToLower()]</span>
                                    </td>
                                    <td class="text-start" data-order="@mp.MembershipAmount">@Model.BranchCurrencySymbol @mp.MembershipAmount</td>
                                    <td class="text-start" data-order="@mp.SignupFee">@Model.BranchCurrencySymbol @mp.SignupFee</td>
                                    <td class="text-center">
                                        <!--begin::Badges-->
                                        <div class="badge badge-light-@(mp.MembershipStatusId.ToString().ToLower())">@(localizer[mp.MembershipStatusId.ToString().ToLower()])</div>
                                        <!--end::Badges-->
                                    </td>
                                    <td class="text-center" data-order="@mp.CreatedAt?.ToString("dd/MM/yyyy")">
                                        <span class="fw-bold">@mp.CreatedAt?.ToString("dd/MM/yyyy")</span>
                                    </td>
                                    <td class="text-center">
                                        <div class="d-flex justify-content-center flex-shrink-0">
                                            @if (User.HasClaim(c => c.Type == "Permission" && c.Value == MembershipsPermissions.Edit))
                                            {
                                                <button type="button" class="btn btn-icon btn-bg-light btn-light-primary btn-sm me-2 edit-membership-btn" data-bs-dismiss="click" data-bs-toggle="tooltip" title="@localizer["edit"]" data-bs-custom-class="tooltip-inverse" data-id="@mp.Id" data-branch-id="@mp.BranchId">
                                                    <i class="ki-solid ki-pencil fs-2"></i>
                                                </button>
                                            }
                                            @if (User.HasClaim(c => c.Type == "Permission" && c.Value == MembershipsPermissions.Delete))
                                            {
                                                <button type="button" class="btn btn-icon btn-bg-light btn-light-danger btn-sm me-2 delete-membership-btn" data-bs-dismiss="click" data-bs-toggle="tooltip" title="@localizer["delete"]" data-bs-custom-class="tooltip-inverse" data-id="@mp.Id" data-branch-id="@mp.BranchId">
                                                    <i class="ki-solid ki-trash fs-2"></i>
                                                </button>
                                            }
                                            <!--begin::Menu-->
                                            <button type="button" class="btn btn-sm btn-icon btn-bg-light btn-light-info" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-@(IsRTL ? "start" : "end")" data-bs-dismiss="click" data-bs-toggle="tooltip" title="@localizer["otheractions"]" data-bs-custom-class="tooltip-inverse">
                                                <i class="ki-solid ki-setting-4 fs-2"></i>
                                            </button>
                                            <!--begin::Menu 3-->
                                            <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-info fw-semibold w-200px py-3" data-kt-menu="true">
                                                <!--begin::Menu item-->
                                                <div class="menu-item px-3">
                                                    <a href="#" class="menu-link px-3">
                                                        Create Invoice
                                                    </a>
                                                </div>
                                                <!--end::Menu item-->
                                            </div>
                                            <!--end::Menu 3-->
                                            <!--end::Menu-->
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Membership List-->
        </div>
        <!--end::Content container-->
    </div>
    <!--end::Content-->
</div>
<!--end::Content wrapper-->

@section Scripts {
    <script type="module" src="~/assets/js/customJs/Membership/MembershipsList.js" asp-append-version="true"></script>
}