@using gms.common.ViewModels.Membership
@model MembershipPaymentVM
@{
    ViewData["Title"] = localizer["subscriptions_payment"];
    bool IsRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}

<!--begin::Content wrapper-->
<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar" style="padding-top: 10px;">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container"
             class="app-container container-fluid d-flex align-items-stretch">
            <!--begin::Toolbar wrapper-->
            <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100 px-5">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
                    <!--begin::Title-->
                    <h1 class="page-heading d-flex flex-column justify-content-center text-dark fw-bold fs-3 m-0">
                        @localizer["subscriptions_payment"]
                    </h1>
                    <!--end::Title-->
                    <!--begin::Breadcrumb-->
                    <ol class="breadcrumb text-muted fs-6 fw-semibold text-gray-600">
                        <li class="breadcrumb-item text-gray-600"><a class="text-gray-600 text-hover-primary" href="#">@localizer["home"]</a></li>
                        <li class="breadcrumb-item text-gray-600">@localizer["finances"]</li>
                    </ol>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page title-->
            </div>
            <!--end::Toolbar wrapper-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-fluid">
            <!--begin::Membership List-->
            <div class="card card-flush">
                <!--begin::Card header-->
                <div class="card-header align-items-center gap-2 gap-md-5">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <!--begin::Search-->
                        <div class="d-flex align-items-center position-relative my-1">
                            <i class="ki-outline ki-magnifier fs-3 position-absolute ms-4"></i>
                            <input type="text" members-list-filter="search" class="form-control w-250px ps-12" placeholder="@localizer["search_by_member_name"]" />
                        </div>
                        <!--end::Search-->
                        <!--begin::Export buttons-->
                        <div id="members_list_views_export" class="d-none"></div>
                        <!--end::Export buttons-->
                    </div>
                    <!--end::Card title-->
                    @* <!--begin::Card toolbar-->
                    <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                        <!--begin::Add Member-->
                        <a class="btn btn-primary d-flex align-items-center" asp-controller="GymUser" asp-action="CreateNewMember">
                            <i class="ki-outline ki-plus fs-2"></i>@localizer["add_new_member"]
                        </a>
                        <!--end::Add Member-->
                    </div>
                    <!--end::Card toolbar--> *@
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6" id="membership_payment">
                        <thead>
                            <tr class="text-start text-gray-800 fw-bold fs-7 gs-0">
                                <th class="text-start min-w-150px">@localizer["membership_name"]</th>
                                <th class="text-start min-w-150px">@localizer["member_name"]</th>
                                <th class="text-start min-w-50px">@localizer["price"]</th>
                                <th class="text-start min-w-50px">@localizer["paid_amount"]</th>
                                <th class="text-start min-w-50px">@localizer["due_amount"]</th>
                                <th class="text-center min-w-50px">@localizer["payment_status"]</th>
                                <th class="text-center min-w-50px">@localizer["joining_date"]</th>
                                <th class="text-center min-w-50px">@localizer["expiring_date"]</th>
                                <th class="text-center min-w-100px">@localizer["actions"]</th>
                            </tr>
                        </thead>
                        <tbody class="fw-semibold text-gray-700">
                            @foreach (var mm in Model.MemberMembershipList)
                            {
                                <tr>
                                    <td class="text-start" data-order="@mm.Membership.MembershipName">@mm.Membership.MembershipName</td>
                                    <td class="text-start" data-order="@mm.MemberName">@mm.MemberName</td>
                                    <td class="text-start" data-order="@mm.Membership.MembershipAmount">@mm.Membership.MembershipAmount @Model.BranchCurrencySymbol</td>
                                    <td class="text-start" data-order="@mm.PaidAmount">@mm.PaidAmount @Model.BranchCurrencySymbol</td>
                                    <td class="text-start" data-order="@(mm.Membership.MembershipAmount - mm.PaidAmount)">@(mm.Membership.MembershipAmount - mm.PaidAmount) @Model.BranchCurrencySymbol</td>
                                    <td class="text-center">
                                        <!--begin::Badges-->
                                        <div class="badge badge-light-@(mm.PaymentStatusId.ToString().ToLower())">@(localizer[mm.PaymentStatusId.ToString().ToLower()])</div>
                                        <!--end::Badges-->
                                    </td>
                                    <td class="text-center" data-order="@mm.JoiningDate.ToString("dd/MM/yyyy")">
                                        <span class="fw-bold">@mm.JoiningDate.ToString("dd/MM/yyyy")</span>
                                    </td>
                                    <td class="text-center" data-order="@mm.ExpiringDate.ToString("dd/MM/yyyy")">
                                        <span class="fw-bold">@mm.ExpiringDate.ToString("dd/MM/yyyy")</span>
                                    </td>
                                    <td class="text-center">
                                        <div class="d-flex justify-content-center flex-shrink-0">
                                            @if (User.HasClaim(c => c.Type == "Permission" && c.Value == SubscriptionsPaymentPermissions.Edit))
                                            {
                                                <button class="btn btn-icon btn-bg-light btn-light-primary btn-sm me-2 edit-member-membership-btn" data-bs-dismiss="click" data-bs-toggle="tooltip" title="@localizer["edit"]" data-bs-custom-class="tooltip-inverse" data-id="@mm.Id">
                                                    <i class="ki-solid ki-pencil fs-2"></i>
                                                </button>
                                            }
                                            @if (User.HasClaim(c => c.Type == "Permission" && c.Value == SubscriptionsPaymentPermissions.Delete))
                                            {
                                                <button class="btn btn-icon btn-bg-light btn-light-danger btn-sm me-2" data-bs-dismiss="click" data-bs-toggle="tooltip" title="@localizer["delete"]" data-bs-custom-class="tooltip-inverse">
                                                    <i class="ki-solid ki-trash fs-2"></i>
                                                </button>
                                            }
                                            <!--begin::Menu-->
                                            <button type="button" class="btn btn-sm btn-icon btn-bg-light btn-light-info" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-@(IsRTL ? "start" : "end")" data-bs-dismiss="click" data-bs-toggle="tooltip" title="@localizer["otheractions"]" data-bs-custom-class="tooltip-inverse">
                                                <i class="ki-solid ki-setting-4 fs-2"></i>
                                            </button>
                                            <!--begin::Menu 3-->
                                            <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-info fw-semibold w-200px py-3" data-kt-menu="true">
                                                @if (User.HasClaim(c => c.Type == "Permission" && c.Value == SubscriptionsPaymentPermissions.Create))
                                                {
                                                    <!--begin::Menu item-->
                                                    <div class="menu-item px-3">
                                                        <a class="menu-link px-3 add-payment-btn" data-price="@mm.Membership.MembershipAmount" data-piad-amount="@mm.PaidAmount" data-due-amount="@(mm.Membership.MembershipAmount - mm.PaidAmount)" data-signup-fee="@mm.Membership.SignupFee" data-id="@mm.Id">
                                                            @localizer["add_payment"]
                                                        </a>
                                                    </div>
                                                    <!--end::Menu item-->
                                                }
                                                <!--begin::Menu item-->
                                                <div class="menu-item px-3">
                                                    <a class="menu-link px-3">
                                                        @localizer["show_invoice"]
                                                    </a>
                                                </div>
                                                <!--end::Menu item-->
                                            </div>
                                            <!--end::Menu 3-->
                                            <!--end::Menu-->
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Membership List-->
        </div>
        <!--end::Content container-->
    </div>
    <!--end::Content-->
</div>
<!--end::Content wrapper-->

@section Scripts {
    <script type="module" src="~/assets/js/customJs/Membership/MembershipPayment.js" asp-append-version="true"></script>
}