@using gms.common.ViewModels.GymUser
@model UpdateStaffVM
@{
	ViewData["Title"] = localizer["edit_staff"];
	bool IsRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}

<!--begin::Content wrapper-->
<div class="d-flex flex-column flex-column-fluid">
	<!--begin::Toolbar-->
	<div id="kt_app_toolbar" class="app-toolbar" style="padding-top: 10px;">
		<!--begin::Toolbar container-->
		<div id="kt_app_toolbar_container"
			 class="app-container container-fluid d-flex align-items-stretch">
			<!--begin::Toolbar wrapper-->
			<div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100 px-5">
				<!--begin::Page title-->
				<div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
					<!--begin::Title-->
					<h1 class="page-heading d-flex flex-column justify-content-center text-dark fw-bold fs-3 m-0">
						@localizer["edit_staff"]
					</h1>
					<!--end::Title-->
					<!--begin::Breadcrumb-->
					<ol class="breadcrumb text-muted fs-6 fw-semibold text-gray-600">
						<li class="breadcrumb-item text-gray-600"><a class="text-gray-600 text-hover-primary" href="#">@localizer["home"]</a></li>
						<li class="breadcrumb-item text-gray-600">@localizer["manage_users"]</li>
						<li class="breadcrumb-item text-gray-600">@localizer["manage_staffs"]</li>
					</ol>
					<!--end::Breadcrumb-->
				</div>
				<!--end::Page title-->
			</div>
			<!--end::Toolbar wrapper-->
		</div>
		<!--end::Toolbar container-->
	</div>
	<!--end::Toolbar-->
	<!--begin::Content-->
	<div id="kt_app_content" class="app-content flex-column-fluid">
		<!--begin::Content container-->
		<div id="kt_app_content_container" class="app-container container-fluid">
			<!--begin::Form-->
			<form id="edit_staff_form" autocomplete="off" class="form d-flex flex-column flex-lg-row gap-7 gap-lg-10">
				<input type="hidden" asp-for="@Model.StaffDTO.Email" />
				<!--begin::Aside column-->
				<div class="d-flex flex-column gap-7 gap-lg-10 w-100 min-w-300px w-lg-300px">
					<!--begin::Image-->
					<div class="card card-flush">
						<!--begin::Card header-->
						<div class="card-header">
							<!--begin::Card title-->
							<div class="card-title">
								<h2>@localizer["image"]</h2>
							</div>
							<!--end::Card title-->
						</div>
						<!--end::Card header-->
						<!--begin::Card body-->
						<div class="card-body text-center pt-0">
							<!--begin::Image input-->
							<div class="image-input @(Model.StaffDTO.Image is not null ? "" : "image-input-empty") image-input-outline symbol-label-blank mb-3" id="image_input_control" data-kt-image-input="true">
								<!--begin::Preview existing avatar-->
								<div class="image-input-wrapper w-150px h-150px" style="background-position: center;@(Model.StaffDTO.Image is not null ? $"background-image: url('{Model.StaffDTO.Image}')" : "")"></div>
								<!--end::Preview existing avatar-->
								<!--begin::Label-->
								<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
									<!--begin::Icon-->
									<i class="ki-outline ki-pencil fs-7"></i>
									<!--end::Icon-->
									<!--begin::Inputs-->
									<input type="file" asp-for="@Model.StaffDTO.Image" accept=".png, .jpg, .jpeg" />
									<input type="hidden" name="StaffDTO.Image_remove" />
									<!--end::Inputs-->
								</label>
								<!--end::Label-->
								<!--begin::Cancel-->
								<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
									<i class="ki-outline ki-cross fs-2"></i>
								</span>
								<!--end::Cancel-->
								<!--begin::Remove-->
								<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
									<i class="ki-outline ki-cross fs-2"></i>
								</span>
								<!--end::Remove-->
							</div>
							<!--end::Image input-->
							<!--begin::Description-->
							<div class="text-muted fs-7">@localizer["allowed_file_types"]</div>
							<!--end::Description-->
						</div>
						<!--end::Card body-->
					</div>
					<!--end::Image-->
					<!--begin::Status-->
					<div class="card card-flush">
						<!--begin::Card header-->
						<div class="card-header">
							<!--begin::Card title-->
							<div class="card-title">
								<h2>@localizer["status"]</h2>
							</div>
							<!--end::Card title-->
							<!--begin::Card toolbar-->
							<div class="card-toolbar">
								<div class="rounded-circle bg-success w-15px h-15px" id="staff_status"></div>
							</div>
							<!--begin::Card toolbar-->
						</div>
						<!--end::Card header-->
						<!--begin::Card body-->
						<div class="card-body pt-0">
							<!--begin::Select2-->
							<select class="form-select mb-2" asp-for="@Model.StaffDTO.StatusId" data-control="select2" data-hide-search="true" data-placeholder="@localizer["select_an_option"]">
								<option></option>
								<option value="1" selected="selected">@localizer["active"]</option>
								<option value="2">@localizer["inactive"]</option>
							</select>
							<!--end::Select2-->
						</div>
						<!--end::Card body-->
					</div>
					<!--end::Status-->
				</div>
				<!--end::Aside column-->
				<!--begin::Main column-->
				<div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
					<!--begin::Personal Information-->
					<div class="card card-flush">
						<!--begin::Card header-->
						<div class="card-header">
							<div class="card-title">
								<h2>@localizer["personal_info"]</h2>
							</div>
						</div>
						<!--end::Card header-->
						<!--begin::Card body-->
						<div class="card-body pt-0">
							<div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
								<!--begin::Input group-->
								<div class="col mb-5 fv-row">
									<label class="required form-label ms-2">@localizer["first_name"]</label>
									<input type="text" asp-for="@Model.StaffDTO.FirstName" class="form-control" placeholder="@localizer["enter"] @localizer["first_name"] @localizer["here"]" />
								</div>
								<!--end::Input group-->
								<!--begin::Input group-->
								<div class="col mb-5 fv-row">
									<label class="required form-label ms-2">@localizer["last_name"]</label>
									<input type="text" asp-for="@Model.StaffDTO.LastName" class="form-control" placeholder="@localizer["enter"] @localizer["last_name"] @localizer["here"]" />
								</div>
								<!--end::Input group-->
							</div>
							<div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
								<!--begin::Input group-->
								<div class="col mb-5 fv-row">
									<label class="required form-label ms-2">@localizer["birthdate"]</label>
									<input class="form-control" asp-for="@Model.StaffDTO.BirthDate" placeholder="@localizer["enter"] @localizer["birthdate"] @localizer["here"]" />
								</div>
								<!--end::Input group-->
								<!--begin::Input group-->
								<div class="col mb-5 fv-row">
									<label class="required form-label ms-2">@localizer["gender"]</label>
									<!--begin::Select Status-->
									<select class="form-select" asp-for="@Model.StaffDTO.GenderId" data-control="select2" data-hide-search="true" data-placeholder="@localizer["select_an_option"]">
										<option></option>
										<option value="1">@localizer["male"]</option>
										<option value="2">@localizer["female"]</option>
									</select>
									<!--end::Select Status-->
								</div>
								<!--end::Input group-->
							</div>
							<div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
								<!--begin::Input group-->
								<div class="col mb-5 mb-sm-0 mb-md-0 mb-lg-0 fv-row">
									<label class="required form-label ms-2">@localizer["assign_role"]</label>
									<!--begin::Select Role-->
									<select class="form-select" asp-for="@Model.RoleName" value="@Model.RoleName" data-control="select2" data-hide-search="true" data-placeholder="@localizer["select_an_option"]">
										<option></option>
										@foreach (var role in Model.Roles)
										{
											@if (!role.RoleName.Contains("Member") && !role.RoleName.Contains("Owner"))
											{
												<option value="@role.RoleName">@role.RoleName</option>
											}
										}
									</select>
									<!--end::Select Role-->
								</div>
								<!--end::Input group-->
								<!--begin::Input group-->
								<div class="col fv-row">
									<label class="required form-label ms-2">@localizer["select_specialization"]</label>
									<!--begin::Select Status-->
									<select class="form-select" asp-for="@Model.SelectedSpecializationIds" value="@Model.SelectedSpecializationIds" data-control="select2" data-close-on-select="false" data-placeholder="@localizer["select_an_option"]" data-allow-clear="false" multiple="multiple">
										<option></option>
										@foreach (var specialization in Model.GymSpecializationsListDTO)
										{
											<option value="@specialization.Id">@specialization.Name</option>
										}
									</select>
									<!--end::Select Status-->
								</div>
								<!--end::Input group-->
							</div>
						</div>
						<!--end::Card header-->
					</div>
					<!--end::Personal Information-->
					<!--begin::Contact Information-->
					<div class="card card-flush">
						<!--begin::Card header-->
						<div class="card-header">
							<div class="card-title">
								<h2>@localizer["contact_info"]</h2>
							</div>
						</div>
						<!--end::Card header-->
						<!--begin::Card body-->
						<div class="card-body pt-0">
							<div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
								<!--begin::Input group-->
								<div class="col mb-5">
									<label class="form-label ms-2">@localizer["city"]</label>
									<input type="text" class="form-control" asp-for="@Model.StaffDTO.City" placeholder="@localizer["enter"] @localizer["city"] @localizer["here"]" />
								</div>
								<!--end::Input group-->
								<!--begin::Input group-->
								<div class="col mb-5">
									<label class="form-label ms-2">@localizer["state"]</label>
									<input type="text" class="form-control" asp-for="@Model.StaffDTO.State" placeholder="@localizer["enter"] @localizer["state"] @localizer["here"]" />
								</div>
								<!--end::Input group-->
							</div>
							<div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
								<!--begin::Input group-->
								<div class="mb-5 mb-sm-0 mb-md-0 mb-lg-0">
									<label class="form-label ms-2">@localizer["address"]</label>
									<input type="text" asp-for="@Model.StaffDTO.Address" class="form-control" placeholder="@localizer["enter"] @localizer["address"] @localizer["here"]" />
								</div>
								<!--end::Input group-->
								<!--begin::Input group-->
								<div class="col">
									<label class="form-label ms-2">@localizer["mobile_number"]</label>
									<input type="text" asp-for="@Model.StaffDTO.PhoneNumber" class="form-control" placeholder="@localizer["enter"] @localizer["mobile_number"] @localizer["here"]" />
								</div>
								<!--end::Input group-->
							</div>
						</div>
						<!--end::Card body-->
					</div>
					<!--end::Contact Information-->
					<!--begin::More Information-->
					<div class="card card-flush">
						<!--begin::Card header-->
						<div class="card-header">
							<div class="card-title">
								<h2>@localizer["more_info"] </h2>
							</div>
						</div>
						<!--end::Card header-->
						<!--begin::Card body-->
						<div class="card-body pt-0">
							<!--begin::Input group-->
							<div class="fv-row mb-5">
								<label class="required form-label ms-2">@localizer["select_groups"]</label>
								<!--begin::Select Status-->
								<select class="form-select" asp-for="@Model.SelectedGroupIds" data-control="select2" data-close-on-select="false" data-placeholder="@localizer["select_an_option"]" data-allow-clear="false" multiple="multiple">
									<option></option>
									@foreach (var group in Model.GymGroupsListDTO)
									{
										<option value="@group.Id" data-kt-select2-user="@group.Image">@group.Name</option>
									}
								</select>
								<!--end::Select Status-->
							</div>
							<!--end::Input group-->
						</div>
						<!--end::Card header-->
					</div>
					<!--end::More Information-->
					<div class="d-flex justify-content-end px-5">
						<!--begin::Reset Button-->
						<button class="btn btn-light me-5" type="reset">@localizer["reset"]</button>
						<!--end::Reset Button-->
						<!--begin::Button-->
						<button type="submit" id="edit_staff_form_submit" class="btn btn-primary">
							<span class="indicator-label">@localizer["save"]</span>
							<span class="indicator-progress">
								@localizer["please_wait"]...
								<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
							</span>
						</button>
						<!--end::Button-->
					</div>
				</div>
				<!--end::Main column-->
			</form>
			<!--end::Form-->
		</div>
		<!--end::Content container-->
	</div>
	<!--end::Content-->
</div>
<!--end::Content wrapper-->

@section Scripts {
	<script src="~/assets/js/customJs/User/EditStaff.js" asp-append-version="true"></script>
}