@model List<GymUserDTO>;
@{
	ViewData["Title"] = localizer["staffslist"];
	bool IsRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
	var test = Model;
}
<!--begin::Content wrapper-->
<div class="d-flex flex-column flex-column-fluid">
	<!--begin::Toolbar-->
	<div id="kt_app_toolbar" class="app-toolbar pt-6 pb-2">
		<!--begin::Toolbar container-->
		<div id="kt_app_toolbar_container"
			 class="app-container container-fluid d-flex align-items-stretch">
			<!--begin::Toolbar wrapper-->
			<div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
				<!--begin::Page title-->
				<div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
					<!--begin::Title-->
					<h1 class="page-heading d-flex flex-column justify-content-center text-dark fw-bold fs-3 m-0">
						@localizer["staffslist"]
					</h1>
					<!--end::Title-->
					<!--begin::Breadcrumb-->
					<ol class="breadcrumb text-muted fs-6 fw-semibold text-gray-600">
						<li class="breadcrumb-item text-gray-600"><a class="text-gray-600 text-hover-primary" href="#">@localizer["home"]</a></li>
						<li class="breadcrumb-item text-gray-600">@localizer["manageusers"]</li>
						<li class="breadcrumb-item text-gray-600">@localizer["managestaffs"]</li>
						@* <li class="breadcrumb-item text-gray-600">@localizer["staffslist"]</li> *@
					</ol>
					<!--end::Breadcrumb-->
				</div>
				<!--end::Page title-->
			</div>
			<!--end::Toolbar wrapper-->
		</div>
		<!--end::Toolbar container-->
	</div>
	<!--end::Toolbar-->
	<!--begin::Content-->
	<div id="kt_app_content" class="app-content flex-column-fluid">
		<!--begin::Content container-->
		<div id="kt_app_content_container" class="app-container container-fluid">
			<!--begin::Membership List-->
			<div class="card card-flush">
				<!--begin::Card header-->
				<div class="card-header align-items-center gap-2 gap-md-5">
					<!--begin::Card title-->
					<div class="card-title">
						<!--begin::Search-->
						<div class="d-flex align-items-center position-relative my-1">
							<i class="ki-outline ki-magnifier fs-3 position-absolute ms-4"></i>
							<input type="text" membership-list-filter="search" class="form-control w-250px ps-12" placeholder="@localizer["searchbymembershipname"]" />
						</div>
						<!--end::Search-->
					</div>
					<!--end::Card title-->
					<!--begin::Card toolbar-->
					<div class="card-toolbar flex-row-fluid justify-content-end gap-5">
						<!--begin::Flatpickr-->
						<div class="input-group w-250px">
							<input class="form-control rounded rounded-end-0" placeholder="@localizer["pickdaterange"]" id="kt_ecommerce_sales_flatpickr" />
							<button class="btn btn-icon btn-light" id="kt_ecommerce_sales_flatpickr_clear">
								<i class="ki-outline ki-cross fs-2"></i>
							</button>
						</div>
						<!--end::Flatpickr-->
						<!--begin::Select Status-->
						<div class="w-100 mw-150px">
							<select class="form-select" data-control="select2" data-hide-search="true" data-placeholder="@localizer["status"]" membership-list-filter="status">
								<option></option>
								<option value="all">@localizer["all"]</option>
								<option value="@localizer["active"].Value">@localizer["active"]</option>
								<option value="@localizer["inactive"].Value">@localizer["inactive"]</option>
							</select>
						</div>
						<!--end::Select Status-->
						<!--begin::Add Membership-->
						<a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_invite_friends">
							<i class="ki-outline ki-plus fs-2"></i>@localizer["addnewmembership"]
						</a>
						<!--end::Add Membership-->
					</div>
					<!--end::Card toolbar-->
				</div>
				<!--end::Card header-->
				<!--begin::Card body-->
				<div class="card-body pt-0">
					<!--begin::Table-->
					<table class="table align-middle table-row-dashed fs-6" id="membership_list">
						<thead>
							<tr class="text-start text-gray-800 fw-bold fs-7 gs-0">
								<th class="text-center min-w-50px">@localizer["photo"]</th>
								<th class="text-start min-w-100px">@localizer["price"]</th>
								<th class="text-center min-w-100px">@localizer["status"]</th>
								<th class="text-center min-w-100px">@localizer["creationdate"]</th>
								<th class="text-center min-w-100px">@localizer["actions"]</th>
							</tr>
						</thead>
						<tbody class="fw-semibold text-gray-700">
							@foreach (GymUserDTO item in Model)
							{
								<tr>
									<td class="text-center">
										@* @item *@
									</td>
									<td class="text-center">
										@item.Email
									</td>
									<td class="text-center">
										@item.Roles
									</td>
									<td class="text-center">
										<div class="d-flex justify-content-center flex-shrink-0">
											<a asp-action="GymUserRoles" asp-controller="GymUser" asp-route-userId="@item.Id" class="btn btn-icon btn-bg-light btn-light-primary btn-sm me-2" data-bs-toggle="tooltip" title="@localizer["edit"]" data-bs-custom-class="tooltip-inverse">
												<i class="ki-solid ki-pencil fs-2"></i>
											</a>
										</div>
									</td>
								</tr>
							}

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
