@model GymUserDTO
@{
	ViewData["Title"] = localizer["my_profile"];
    bool IsRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}

<!--begin::Content wrapper-->
<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar pt-6 pb-2">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container"
             class="app-container container-fluid d-flex align-items-stretch">
            <!--begin::Toolbar wrapper-->
            <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
                    <!--begin::Title-->
                    <h1 class="page-heading d-flex flex-column justify-content-center text-dark fw-bold fs-3 m-0">
						@localizer["my_profile"]
                    </h1>
                    <!--end::Title-->
                    <!--begin::Breadcrumb-->
                    <ol class="breadcrumb text-muted fs-6 fw-semibold text-gray-600">
                        <li class="breadcrumb-item text-gray-600"><a class="text-gray-600 text-hover-primary" href="#">@localizer["home"]</a></li>
						<li class="breadcrumb-item text-gray-600">@localizer["user"]</li>
                    </ol>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page title-->
            </div>
            <!--end::Toolbar wrapper-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
		<!--begin::Content container-->
		<div id="kt_app_content_container" class="app-container container-fluid">
			<!--begin::Layout-->
			<div class="d-flex flex-column flex-lg-row">
				<!--begin::Sidebar-->
				<div class="flex-column flex-lg-row-auto w-lg-250px w-xl-350px mb-10">
					<!--begin::Card-->
					<div class="card mb-5 mb-xl-8">
						<!--begin::Card body-->
						<div class="card-body">
							<!--begin::User Info-->
							<div class="d-flex flex-center flex-column py-5">
								<!--begin::Avatar-->
								<div class="symbol symbol-100px symbol-circle mb-7">
									@if (Model.Image is not null)
									{
										<!--begin::Overlay-->
										<a class="d-block overlay d-flex justify-content-center" data-fslightbox="lightbox-@Model.Id" href="@Model.Image">
											<!--begin::Image-->
											<div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover symbol symbol-circle w-100px h-100px"
												 style="background-image:url('@Model.Image') !important;">
											</div>
											<!--end::Image-->
											<!--begin::Action-->
											<div class="overlay-layer symbol symbol-circle bg-dark bg-opacity-25 shadow w-100px h-100px" style="@( IsRTL ? "right: 50%;transform: translateX(50%);" : "left: 50%;transform: translateX(-50%);" )">
												<i class="bi bi-eye-fill text-white fs-1"></i>
											</div>
											<!--end::Action-->
										</a>
										<!--end::Overlay-->
									}
									else
									{
										<!--begin::Thumbnail-->
										<div class="symbol symbol-circle symbol-100px d-flex justify-content-center">
											<span class="symbol-label symbol-label-blank"></span>
										</div>
										<!--end::Thumbnail-->
									}
								</div>
								<!--end::Avatar-->
								<!--begin::Name-->
								<span class="fs-3 text-gray-800 text-hover-primary fw-bold mb-3">@($"{Model.FirstName} {Model.LastName}")</span>
								<!--end::Name-->
								<!--begin::Position-->
								<div class="mb-9">
									<!--begin::Badge-->
									<div class="badge badge-lg badge-light-primary d-inline">@Model.RoleName</div>
									<!--begin::Badge-->
								</div>
								<!--end::Position-->
							</div>
							<!--end::User Info-->
							<!--begin::Details toggle-->
							<div class="d-flex flex-stack fs-4 py-3">
								<div class="fw-bold rotate collapsible justify-content-between w-100" data-bs-toggle="collapse" href="#kt_user_view_details" role="button" aria-expanded="false" aria-controls="kt_user_view_details">
									@localizer["details"]
									<span class="ms-2 rotate-180">
										<i class="ki-outline ki-down fs-3"></i>
									</span>
								</div>
							</div>
							<!--end::Details toggle-->
							<div class="separator"></div>
							<!--begin::Details content-->
							<div id="kt_user_view_details" class="collapse show">
								@* <div class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
									<i class="ki-outline ki-profile-circle fs-4 me-1"></i>Developer
								</div> *@
								<div class="pb-5 fs-6">
									<!--begin::Details item-->
									<div class="fw-bold mt-5">@localizer["email"]</div>
									<div class="text-gray-600">@Model.Email</div>
									<!--begin::Details item-->
									<!--begin::Details item-->
									<div class="fw-bold mt-5">@localizer["address"]</div>
									<div class="text-gray-600">@(!string.IsNullOrEmpty(Model.Address) ? Model.Address : "------" )</div>
									<!--begin::Details item-->
									<!--begin::Details item-->
									<div class="fw-bold mt-5">@localizer["mobile_number"]</div>
									<div class="text-gray-600">@(!string.IsNullOrEmpty(Model.PhoneNumber) ? Model.PhoneNumber : "------" )</div>
									<!--begin::Details item-->
									<!--begin::Details item-->
									<div class="fw-bold mt-5">@localizer["birthdate"]</div>
									<div class="text-gray-600">@Model.BirthDate</div>
									<!--begin::Details item-->
									<!--begin::Details item-->
									<div class="fw-bold mt-5">@localizer["gender"]</div>
									<!--begin::Badges-->
									<div class="badge badge-light-@(Model.GenderId.ToString().ToLower())">@(localizer[Model.GenderId.ToString().ToLower()])</div>
									<!--end::Badges-->
									<!--begin::Details item-->
								</div>
							</div>
							<!--end::Details content-->
						</div>
						<!--end::Card body-->
					</div>
					<!--end::Card-->
				</div>
				<!--end::Sidebar-->
				<!--begin::Content-->
				<div class="flex-lg-row-fluid ms-lg-15">
					<!--begin:::Tabs-->
					<ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8">
						<!--begin:::Tab item-->
						<li class="nav-item">
							<a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_user_view_overview_tab">Overview</a>
						</li>
						<!--end:::Tab item-->
						<!--begin:::Tab item-->
						<li class="nav-item">
							<a class="nav-link text-active-primary pb-4" data-kt-countup-tabs="true" data-bs-toggle="tab" href="#kt_user_view_overview_security">@localizer["settings"]</a>
						</li>
						<!--end:::Tab item-->
					</ul>
					<!--end:::Tabs-->
					<!--begin:::Tab content-->
					<div class="tab-content" id="myTabContent">
						<!--begin:::Tab pane-->
						<div class="tab-pane fade show active" id="kt_user_view_overview_tab" role="tabpanel">
							<!--begin::Card-->
							<div class="card card-flush mb-6 mb-xl-9">
								<!--begin::Card header-->
								<div class="card-header mt-6">
									<!--begin::Card title-->
									<div class="card-title flex-column">
										<h2 class="mb-1">User's Schedule</h2>
										<div class="fs-6 fw-semibold text-muted">2 upcoming meetings</div>
									</div>
									<!--end::Card title-->
									<!--begin::Card toolbar-->
									<div class="card-toolbar">
										<button type="button" class="btn btn-light-primary btn-sm" data-bs-toggle="modal" data-bs-target="#kt_modal_add_schedule">
											<i class="ki-outline ki-brush fs-3"></i>Add Schedule
										</button>
									</div>
									<!--end::Card toolbar-->
								</div>
								<!--end::Card header-->
								<!--begin::Card body-->
								<div class="card-body p-9 pt-4">
									<!--begin::Dates-->
									<ul class="nav nav-pills d-flex flex-nowrap hover-scroll-x py-2">
										<!--begin::Date-->
										<li class="nav-item me-1">
											<a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_0">
												<span class="opacity-50 fs-7 fw-semibold">Su</span>
												<span class="fs-6 fw-bolder">21</span>
											</a>
										</li>
										<!--end::Date-->
										<!--begin::Date-->
										<li class="nav-item me-1">
											<a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary active" data-bs-toggle="tab" href="#kt_schedule_day_1">
												<span class="opacity-50 fs-7 fw-semibold">Mo</span>
												<span class="fs-6 fw-bolder">22</span>
											</a>
										</li>
										<!--end::Date-->
										<!--begin::Date-->
										<li class="nav-item me-1">
											<a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_2">
												<span class="opacity-50 fs-7 fw-semibold">Tu</span>
												<span class="fs-6 fw-bolder">23</span>
											</a>
										</li>
										<!--end::Date-->
										<!--begin::Date-->
										<li class="nav-item me-1">
											<a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_3">
												<span class="opacity-50 fs-7 fw-semibold">We</span>
												<span class="fs-6 fw-bolder">24</span>
											</a>
										</li>
										<!--end::Date-->
										<!--begin::Date-->
										<li class="nav-item me-1">
											<a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_4">
												<span class="opacity-50 fs-7 fw-semibold">Th</span>
												<span class="fs-6 fw-bolder">25</span>
											</a>
										</li>
										<!--end::Date-->
										<!--begin::Date-->
										<li class="nav-item me-1">
											<a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_5">
												<span class="opacity-50 fs-7 fw-semibold">Fr</span>
												<span class="fs-6 fw-bolder">26</span>
											</a>
										</li>
										<!--end::Date-->
										<!--begin::Date-->
										<li class="nav-item me-1">
											<a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_6">
												<span class="opacity-50 fs-7 fw-semibold">Sa</span>
												<span class="fs-6 fw-bolder">27</span>
											</a>
										</li>
										<!--end::Date-->
										<!--begin::Date-->
										<li class="nav-item me-1">
											<a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_7">
												<span class="opacity-50 fs-7 fw-semibold">Su</span>
												<span class="fs-6 fw-bolder">28</span>
											</a>
										</li>
										<!--end::Date-->
										<!--begin::Date-->
										<li class="nav-item me-1">
											<a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_8">
												<span class="opacity-50 fs-7 fw-semibold">Mo</span>
												<span class="fs-6 fw-bolder">29</span>
											</a>
										</li>
										<!--end::Date-->
										<!--begin::Date-->
										<li class="nav-item me-1">
											<a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_9">
												<span class="opacity-50 fs-7 fw-semibold">Tu</span>
												<span class="fs-6 fw-bolder">30</span>
											</a>
										</li>
										<!--end::Date-->
										<!--begin::Date-->
										<li class="nav-item me-1">
											<a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_10">
												<span class="opacity-50 fs-7 fw-semibold">We</span>
												<span class="fs-6 fw-bolder">31</span>
											</a>
										</li>
										<!--end::Date-->
									</ul>
									<!--end::Dates-->
									<!--begin::Tab Content-->
									<div class="tab-content">
										<!--begin::Day-->
										<div id="kt_schedule_day_0" class="tab-pane fade show">
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														16:30 - 17:30
														<span class="fs-7 text-muted text-uppercase">pm</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Development Team Capacity Review</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Terry Robins</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														12:00 - 13:00
														<span class="fs-7 text-muted text-uppercase">pm</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Committee Review Approvals</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Sean Bean</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														10:00 - 11:00
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Marketing Campaign Discussion</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Michael Walters</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														11:00 - 11:45
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Dashboard UI/UX Design Review</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Walter White</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														10:00 - 11:00
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Sales Pitch Proposal</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Mark Randall</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
										</div>
										<!--end::Day-->
										<!--begin::Day-->
										<div id="kt_schedule_day_1" class="tab-pane fade show active">
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														9:00 - 10:00
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Sales Pitch Proposal</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Mark Randall</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														14:30 - 15:30
														<span class="fs-7 text-muted text-uppercase">pm</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Team Backlog Grooming Session</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Bob Harris</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														9:00 - 10:00
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Development Team Capacity Review</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Naomi Hayabusa</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
										</div>
										<!--end::Day-->
										<!--begin::Day-->
										<div id="kt_schedule_day_2" class="tab-pane fade show">
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														9:00 - 10:00
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Project Review & Testing</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Karina Clarke</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														14:30 - 15:30
														<span class="fs-7 text-muted text-uppercase">pm</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Lunch & Learn Catch Up</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Michael Walters</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														9:00 - 10:00
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Marketing Campaign Discussion</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Walter White</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														11:00 - 11:45
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Lunch & Learn Catch Up</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Caleb Donaldson</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
										</div>
										<!--end::Day-->
										<!--begin::Day-->
										<div id="kt_schedule_day_3" class="tab-pane fade show">
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														11:00 - 11:45
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Lunch & Learn Catch Up</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Sean Bean</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														11:00 - 11:45
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Committee Review Approvals</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">David Stevenson</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														12:00 - 13:00
														<span class="fs-7 text-muted text-uppercase">pm</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Sales Pitch Proposal</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Michael Walters</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														12:00 - 13:00
														<span class="fs-7 text-muted text-uppercase">pm</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Team Backlog Grooming Session</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Mark Randall</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														14:30 - 15:30
														<span class="fs-7 text-muted text-uppercase">pm</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Team Backlog Grooming Session</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Yannis Gloverson</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
										</div>
										<!--end::Day-->
										<!--begin::Day-->
										<div id="kt_schedule_day_4" class="tab-pane fade show">
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														9:00 - 10:00
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Committee Review Approvals</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Mark Randall</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														11:00 - 11:45
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Committee Review Approvals</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Michael Walters</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														14:30 - 15:30
														<span class="fs-7 text-muted text-uppercase">pm</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Weekly Team Stand-Up</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Mark Randall</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
										</div>
										<!--end::Day-->
										<!--begin::Day-->
										<div id="kt_schedule_day_5" class="tab-pane fade show">
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														14:30 - 15:30
														<span class="fs-7 text-muted text-uppercase">pm</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Team Backlog Grooming Session</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">David Stevenson</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														13:00 - 14:00
														<span class="fs-7 text-muted text-uppercase">pm</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Sales Pitch Proposal</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Michael Walters</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														12:00 - 13:00
														<span class="fs-7 text-muted text-uppercase">pm</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Creative Content Initiative</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Bob Harris</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
										</div>
										<!--end::Day-->
										<!--begin::Day-->
										<div id="kt_schedule_day_6" class="tab-pane fade show">
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														12:00 - 13:00
														<span class="fs-7 text-muted text-uppercase">pm</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Creative Content Initiative</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Kendell Trevor</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														11:00 - 11:45
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Development Team Capacity Review</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Yannis Gloverson</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														9:00 - 10:00
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Creative Content Initiative</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Terry Robins</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														12:00 - 13:00
														<span class="fs-7 text-muted text-uppercase">pm</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Sales Pitch Proposal</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Yannis Gloverson</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
										</div>
										<!--end::Day-->
										<!--begin::Day-->
										<div id="kt_schedule_day_7" class="tab-pane fade show">
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														13:00 - 14:00
														<span class="fs-7 text-muted text-uppercase">pm</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Committee Review Approvals</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Naomi Hayabusa</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														9:00 - 10:00
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Development Team Capacity Review</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Bob Harris</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														12:00 - 13:00
														<span class="fs-7 text-muted text-uppercase">pm</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Committee Review Approvals</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Michael Walters</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
										</div>
										<!--end::Day-->
										<!--begin::Day-->
										<div id="kt_schedule_day_8" class="tab-pane fade show">
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														11:00 - 11:45
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Weekly Team Stand-Up</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Michael Walters</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														16:30 - 17:30
														<span class="fs-7 text-muted text-uppercase">pm</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Development Team Capacity Review</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Mark Randall</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														13:00 - 14:00
														<span class="fs-7 text-muted text-uppercase">pm</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Development Team Capacity Review</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Sean Bean</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
										</div>
										<!--end::Day-->
										<!--begin::Day-->
										<div id="kt_schedule_day_9" class="tab-pane fade show">
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														12:00 - 13:00
														<span class="fs-7 text-muted text-uppercase">pm</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Project Review & Testing</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">David Stevenson</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														9:00 - 10:00
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Team Backlog Grooming Session</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Yannis Gloverson</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														14:30 - 15:30
														<span class="fs-7 text-muted text-uppercase">pm</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Lunch & Learn Catch Up</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Terry Robins</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														10:00 - 11:00
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Marketing Campaign Discussion</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Michael Walters</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
										</div>
										<!--end::Day-->
										<!--begin::Day-->
										<div id="kt_schedule_day_10" class="tab-pane fade show">
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														9:00 - 10:00
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Committee Review Approvals</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Walter White</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														9:00 - 10:00
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Weekly Team Stand-Up</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Peter Marcus</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
											<!--begin::Time-->
											<div class="d-flex flex-stack position-relative mt-6">
												<!--begin::Bar-->
												<div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
												<!--end::Bar-->
												<!--begin::Info-->
												<div class="fw-semibold ms-5">
													<!--begin::Time-->
													<div class="fs-7 mb-1">
														9:00 - 10:00
														<span class="fs-7 text-muted text-uppercase">am</span>
													</div>
													<!--end::Time-->
													<!--begin::Title-->
													<a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Project Review & Testing</a>
													<!--end::Title-->
													<!--begin::User-->
													<div class="fs-7 text-muted">
														Lead by
														<a href="#">Michael Walters</a>
													</div>
													<!--end::User-->
												</div>
												<!--end::Info-->
												<!--begin::Action-->
												<a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
												<!--end::Action-->
											</div>
											<!--end::Time-->
										</div>
										<!--end::Day-->
									</div>
									<!--end::Tab Content-->
								</div>
								<!--end::Card body-->
							</div>
							<!--end::Card-->
						</div>
						<!--end:::Tab pane-->
						<!--begin:::Tab pane-->
						<div class="tab-pane fade" id="kt_user_view_overview_security" role="tabpanel">
							<!--begin::Card-->
							<div class="card pt-4 mb-6 mb-xl-9">
								<!--begin::Card header-->
								<div class="card-header border-0">
									<!--begin::Card title-->
									<div class="card-title">
										<h2>@localizer["edit_profile"]</h2>
									</div>
									<!--end::Card title-->
								</div>
								<!--end::Card header-->
								<!--begin::Card body-->
								<div class="card-body pt-0 pb-5">
									<!--begin::Form-->
									<form class="form" id="update_user_form">
										<input type="hidden" asp-for="@Model.StatusId" />
										<div class="mb-7">
											<!--begin::Label-->
											<label class="fs-6 fw-semibold mb-2 ms-2">@localizer["image"]</label>
											<!--end::Label-->
											<!--begin::Image input wrapper-->
											<div class="mt-1">
												<!--begin::Image input-->
												<div class="image-input  @(Model.Image is not null ? "" : "image-input-empty") image-input-outline symbol-label-blank" id="image_input_control" data-kt-image-input="true">
													<!--begin::Preview existing avatar-->
													<div class="image-input-wrapper w-125px h-125px" style="background-position: center;@(Model.Image is not null ? $"background-image: url('{Model.Image}')" : "")"></div>
													<!--end::Preview existing avatar-->
													<!--begin::Edit-->
													<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="Change avatar" data-bs-original-title="Change avatar" data-kt-initialized="1">
														<i class="ki-outline ki-pencil fs-7"></i>
														<!--begin::Inputs-->
														<input type="file" asp-for="@Model.Image" accept=".png, .jpg, .jpeg">
														<input type="hidden" name="Image_remove">
														<!--end::Inputs-->
													</label>
													<!--end::Edit-->
													<!--begin::Cancel-->
													<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="Cancel avatar" data-bs-original-title="Cancel avatar" data-kt-initialized="1">
														<i class="ki-outline ki-cross fs-2"></i>
													</span>
													<!--end::Cancel-->
													<!--begin::Remove-->
													<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="Remove avatar" data-bs-original-title="Remove avatar" data-kt-initialized="1">
														<i class="ki-outline ki-cross fs-2"></i>
													</span>
													<!--end::Remove-->
												</div>
												<!--end::Image input-->
											</div>
											<!--end::Image input wrapper-->
										</div>
										<div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
											<!--begin::Input group-->
											<div class="col mb-5 fv-row">
												<label class="required form-label ms-2">@localizer["first_name"]</label>
												<input type="text" asp-for="@Model.FirstName" class="form-control" placeholder="@localizer["enter"] @localizer["first_name"] @localizer["here"]" />
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="col mb-5 fv-row">
												<label class="required form-label ms-2">@localizer["last_name"]</label>
												<input type="text" asp-for="@Model.LastName" class="form-control" placeholder="@localizer["enter"] @localizer["last_name"] @localizer["here"]" />
											</div>
											<!--end::Input group-->
										</div>
										<div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
											<!--begin::Input group-->
											<div class="col mb-5 fv-row">
												<label class="required form-label ms-2">@localizer["birthdate"]</label>
												<input class="form-control" asp-for="@Model.BirthDate" value="@Model.BirthDate.ToString("yyyy-MM-dd")" placeholder="@localizer["enter"] @localizer["birthdate"] @localizer["here"]" />
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="col mb-5 fv-row">
												<label class="required form-label ms-2">@localizer["gender"]</label>
												<!--begin::Select Status-->
												<select class="form-select" asp-for="@Model.GenderId" data-control="select2" data-hide-search="true" data-placeholder="@localizer["select_an_option"]">
													<option></option>
													<option value="1">@localizer["male"]</option>
													<option value="2">@localizer["female"]</option>
												</select>
												<!--end::Select Status-->
											</div>
											<!--end::Input group-->
										</div>
										<div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
											<!--begin::Input group-->
											<div class="col mb-5">
												<label class="form-label ms-2">@localizer["city"]</label>
												<input type="text" class="form-control" asp-for="@Model.City" placeholder="@localizer["enter"] @localizer["city"] @localizer["here"]" />
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="col mb-5">
												<label class="form-label ms-2">@localizer["state"]</label>
												<input type="text" class="form-control" asp-for="@Model.State" placeholder="@localizer["enter"] @localizer["state"] @localizer["here"]" />
											</div>
											<!--end::Input group-->
										</div>
										<div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
											<!--begin::Input group-->
											<div class="col mb-5">
												<label class="form-label ms-2">@localizer["address"]</label>
												<input type="text" asp-for="@Model.Address" class="form-control" placeholder="@localizer["enter"] @localizer["address"] @localizer["here"]" />
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="col mb-5">
												<label class="form-label ms-2">@localizer["mobile_number"]</label>
												<input type="text" asp-for="@Model.PhoneNumber" class="form-control" placeholder="@localizer["enter"] @localizer["mobile_number"] @localizer["here"]" />
											</div>
											<!--end::Input group-->
										</div>
										<div class="d-flex justify-content-end px-5">
											<!--begin::Reset Button-->
											<button class="btn btn-light me-5" type="reset">@localizer["reset"]</button>
											<!--end::Reset Button-->
											<!--begin::Button-->
											<button type="submit" id="update_user_form_submit" class="btn btn-primary">
												<span class="indicator-label">@localizer["save"]</span>
												<span class="indicator-progress">
													@localizer["please_wait"]...
													<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
												</span>
											</button>
											<!--end::Button-->
										</div>
									</form>
									<!--end::Form-->
								</div>
								<!--end::Card body-->
							</div>
							<!--end::Card-->
						</div>
						<!--end:::Tab pane-->
					</div>
					<!--end:::Tab content-->
				</div>
				<!--end::Content-->
			</div>
			<!--end::Layout-->
		</div>
		<!--end::Content container-->
    </div>
    <!--end::Content-->
</div>
<!--end::Content wrapper-->

@section Scripts {
    <script src="~/assets/js/customJs/User/UserProfile.js" asp-append-version="true"></script>
}