@using gms.common.ViewModels.Activity
@model AddNewActivityVM
@{
	bool IsRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}

<!--begin::Form-->
<form id="add_new_Activity_form" class="form d-flex flex-column flex-lg-row">
	<!--begin::Wrapper-->
	<div class="w-100">
		<!--begin::Input group-->
		<div class="col mb-5 fv-row">
			<!--begin::Label-->
			<label class="required form-label ms-2">Select Category</label>
			<!--end::Label-->
			<!--begin::Select-->
			<select class="form-select" asp-for="@Model.Activity.ActivityCategoryId" data-control="select2" data-hide-search="true" data-placeholder="@localizer["select_an_option"]">
				<option></option>
				@foreach(var ac in Model.ActivityCategories)
				{
					<option value="@ac.Id">@ac.Name</option>
				}
			</select>
			<!--end::Select-->
		</div>
		<!--end::Input group-->
		<!--begin::Input group-->
		<div class="mb-5 fv-row">
			<label class="required form-label ms-2">@localizer["activity_name"]</label>
			<input type="text" asp-for="@Model.Activity.Title" value="" class="form-control" placeholder="@localizer["enter"] @localizer["activity_name"] @localizer["here"]" />
		</div>
		<!--end::Input group-->
		<!--begin::Input group-->
		<div class="col mb-5 fv-row">
			<!--begin::Label-->
			<label class="required form-label ms-2">Select Memberships</label>
			<!--end::Label-->
			<select class="form-select" id="select_memberships" name="SelectedMembershipIds" data-control="select2" data-close-on-select="false" data-placeholder="@localizer["select_an_option"]" data-allow-clear="true" multiple="multiple">
				<option></option>
				@foreach (var m in Model.Memberships)
				{
					<option value="@m.Id">@m.MembershipName</option>
				}
			</select>
		</div>
		<!--end::Input group-->
		<!--begin::Repeater-->
		<div id="kt_docs_repeater_basic">
			<!--begin::Label-->
			<label class="form-label ms-2">Activity Video</label>
			<!--end::Label-->
			<!--begin::Form group-->
			<div class="form-group">
				<div data-repeater-list="kt_docs_repeater_basic">
					<div data-repeater-item>
						<div class="form-group mb-5 row">
							<div class="col-md-10">
								<textarea class="form-control mb-2 mb-md-0" data-kt-autosize="true" placeholder="@localizer["enter"] @localizer["activity_name"] @localizer["here"]"></textarea>
							</div>
							<div class="col-md-1">
								<a href="javascript:;" data-repeater-delete class="btn btn-icon btn-bg-light btn-light-danger btn-sm mt-3 mt-md-9">
									<i class="ki-solid ki-trash fs-2"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end::Form group-->
			<!--begin::Form group-->
			<div class="form-group mt-5">
				<a href="javascript:;" data-repeater-create class="btn btn-light-primary">
					<i class="ki-duotone ki-plus fs-3"></i>
					Add
				</a>
			</div>
			<!--end::Form group-->
		</div>
		<!--end::Repeater-->
		<div class="d-flex justify-content-end px-5">
			<!--begin::Reset Button-->
			<button class="btn btn-light me-5" type="reset">@localizer["reset"]</button>
			<!--end::Reset Button-->
			<!--begin::Button-->
			<button type="submit" id="add_new_Activity_form_submit" class="btn btn-primary">
				<span class="indicator-label">@localizer["save"]</span>
				<span class="indicator-progress">
					@localizer["please_wait"]...
					<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
				</span>
			</button>
			<!--end::Button-->
		</div>
	</div>
	<!--end::Wrapper-->
</form>
<!--end::Form-->
