@using gms.common.ViewModels.Activity
@model ActivityCategoryVM
@{
    bool IsRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}

<!--begin::Form-->
<form id="add_new_activity_category_form" class="form d-flex flex-column flex-lg-row">
    <!--begin::Wrapper-->
    <div class="w-100 row" style="align-items: flex-end;">
        <!--begin::Input group-->
        <div class="col-10 mb-5 fv-row">
            <label class="required form-label ms-2">@localizer["category_name"]</label>
            <input type="text" class="form-control" asp-for="@Model.CreateActivityCategory.Name" placeholder="@localizer["enter"] @localizer["category_name"] @localizer["here"]" />
        </div>
        <div class="col-2 mb-7">
            <!--begin::Button-->
            <button type="submit" id="add_new_Activity_category_form_submit" class="btn btn-primary">
                <span class="indicator-label">@localizer["save"]</span>
                <span class="indicator-progress">
                    @localizer["please_wait"]...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
            <!--end::Button-->
        </div>
        <!--end::Input group-->
    </div>
    <!--end::Wrapper-->
</form>
<!--end::Form-->
<!--begin::Table-->
<table class="table align-middle table-row-dashed fs-6" id="activity_Category_list">
    <thead>
        <tr class="text-start text-gray-800 fw-bold fs-7 gs-0">
            <th class="text-start min-w-150px">@localizer["category_name"]</th>
            <th class="text-center min-w-100px">@localizer["actions"]</th>
        </tr>
    </thead>
    <tbody class="fw-semibold text-gray-700">
        @foreach (var a in Model.ActivityCategoryList)
        {
            <tr>
                <td class="text-start" data-order="@a.Name">@a.Name</td>
                <td class="text-center">
                    <div class="d-flex justify-content-center flex-shrink-0">
                       @*  <button type="button" class="btn btn-icon btn-bg-light btn-light-primary btn-sm me-2 edit-activity-btn" data-bs-dismiss="click" data-bs-toggle="tooltip" title="@localizer["edit"]" data-bs-custom-class="tooltip-inverse" data-id="@a.Id">
                            <i class="ki-solid ki-pencil fs-2"></i>
                        </button> *@
                        <button type="button" class="btn btn-icon btn-bg-light btn-light-danger btn-sm me-2 delete-activity-category-btn" data-bs-dismiss="click" data-bs-toggle="tooltip" title="@localizer["delete"]" data-bs-custom-class="tooltip-inverse" data-id="@a.Id">
                            <i class="ki-solid ki-trash fs-2"></i>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<!--end::Table-->