﻿@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer localizer;
@{
    IRequestCultureFeature requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["Title"] = "Index";
}

<a class="btn btn-primary" asp-action="Create">@localizer["create"]</a>

<table class="table mt-4">
    <tbody>
        <tr>
            <th>@localizer["language"]</th>
            <td>@requestCulture.RequestCulture.Culture.NativeName</td>
        </tr>
        <tr>
            <th>@localizer["uiLanguage"]</th>
            <td>@requestCulture.RequestCulture.UICulture.NativeName</td>
        </tr>
        <tr>
            <th>@localizer["date"]</th>
            <td>@DateTime.Now.ToLongDateString()</td>
        </tr>
        <tr>
            <th>@localizer["currency"]</th>
            <td>@(9985.00.ToString("c"))</td>
        </tr>
        <tr>
            <th>@localizer["numbers"]</th>
            <td>@(987654321.69m.ToString("F2"))</td>
        </tr>
    </tbody>

</table>